



@media only screen and (max-width: 600px) {
    .button {
        border: 10px;
        padding: 8px;
        font-size: 12px;
        margin: 2px;}
        .button2 {
            padding: 8px;
            margin: 6px;
            font-size: small;
        }
        .h6 {
            font-size: 10px;
            padding: 0.4%;
        }

        .h1 {
            font-size: 15px;
            padding: 8px;
        }
        .article {
            margin: 10px;
            font-size: 10px;
        }
        .h3 {
            font-size: 12px;
            padding: 10px;
            border-radius: 7px;
            margin: 5px;
        }
        .ol {
            margin: 10px;
            border-width: 5px;
        }
    }
    

   /*Interactive elements here */

        .button {
            border: 20px;
            color: rgb(0, 0, 0);
            padding: 15px 15px;
            text-align: center;
            display:inline-block;
            font-size: 26px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {background-color: khaki;}
      
        .button2 {
            background-color: rgb(240, 208, 140);
            padding: 30px;
            text-align: center;
            display: inline-block;
            font-size: medium;
            margin: 20px;
            cursor: pointer;
            }
            .button2:hover {box-shadow: 8px 64px 0rgba;
            background-color:rgb(255, 216, 168);
            transition-property: background-color;
            transition-duration: 0.5s;
            transition-timing-function: linear;
            }

             .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
   
/*Text elements here*/

h6 {
    text-align: center;
    padding: 1%;
    font-size: 25px;
    background-color: rgb(255, 164, 28);
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(255, 195, 104);
    padding: 20px;
}

            h4 {
                padding-left: 25px;
                padding-right: 25px;
            }
            p {
                padding: 25px;
                background-color: rgb(255, 249, 196);
                border-radius: 5px;
                margin: 50px;
            }

           

article {
    margin: clamp(20px, 40vw, 40px);
    border-width: 10px;
    border-color:blanchedalmond;
    background-color: beige;
    padding: 15px;
    font-size: 24px;
}

h5 {
    font-size: clamp(18px, 28vw, 28px);
    background-color:blanchedalmond;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

h3 {
    font-size: clamp(15px, 35px, 35px);
    background-color: rgb(255, 216, 168);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}
ol {
    background-color: beige;
    font-size: clamp(12px, 22px, 22px);
    margin: 20px;
    border-width: 10px;
    
}

/*Misc elements here*/


   
   